.cart-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 1px;
}
.customer-details {
  position: absolute;
  top: 421px;
  left: 213px;
  width: 512px;
  height: 309px;
  opacity: 1;
}
.sucess-image {
  display: flex;
  justify-content: center;
  height: 225px;
  opacity: 1;
}
.sucess-message {
  position: absolute;
  top: 125px;

  width: 294px;
  height: 30px;
  text-align: left;
  font: normal normal bold 25px/30px Lato;
  letter-spacing: 0px;
  color: #333232;
  text-transform: capitalize;
  opacity: 1;
}

.sucess-info {
  width: 348px;
  height: 66px;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    max-width: 751px;
    table-layout: fixed;
  }
  
 
  
  table tr {
   
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table td {
    padding: .625em;
    text-align: center;
   font-size:12px;
    background-color:white;
  }
  
  table th {
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .625em;
    text-align: center;
    background-color:#FAFAFA;
    
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  