.cart-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 1px;
}
.customer-details{
    position:absolute;
    top: 421px;
left: 213px;
width: 512px;
height: 309px;
opacity: 1;
}